<div id="welcomeContainer" style="display: none;">
    <!--<div class="cloudDiv">
        <div class="cloudTop"></div>
        <div class="cloudBottom"></div>
    </div>-->
    <div id="welcomeContent">
        <img id="welcomeImageSeal" src="assets/images/ParadisiaLogo.png"/>
        <span id="welcomeHeader">Bienvenue sur Paradisia !</span>
        <span id="welcomeDescription">Paradisia est un serveur semi RP sur le theme futuriste. Tu retrouvera des quetes, un system de guerre et d'aillence. Fait toi des amie au risque de te faire dominer. Deviens le plus puissant, le plus riche.</span>
        <br>
        <span id="welcomeDescCTA"></span>
        <button id="welcomeButton">
            <div id="welcomeButtonContent">
                Connection
                <svg id="welcomeSVG" viewBox="0 0 24.87 13.97">
                    <defs>
                        <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                    </defs>
                    <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                </svg>
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>